html,body{
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #008080;
}
.border{
	border: solid 1px #999;
}


.section{
	background-color: white;
	padding: 15px 40px;
}

.section2{
	background-color: white;
	padding: 15px;
	height: 47.5%;
}

.stock-search{
	width: 100%;
	padding: 5px;

}

.glyphicon-search{
	float: right;
	font-size: 20px;
	color: black;
	position: absolute;
	top: 0;
	right: 0;
	padding: 7px 10px;
	background-color: #00c6c6;
	color: white;
	outline: none;
	border: none;
}

.detail-tile{
	height: 125px;
	padding: 5px 20px;
	font-size: 12px;
}

.stock-graph{
	height: 320px;
}

.list{
	height: 100%;
	overflow-y: scroll;
}

.list-table td{
	padding: 5px;
}

.delete-button{
	float: right;
	display: inline-block;
	cursor: pointer;
	color: #cc3030;
	font-size: 18px;
	display: none;
}

.teal-color{
	color: teal;
}

a[href='#comparemodal']{
	float: right;
	font-size: 14px;
}


@media only screen and (min-width: 780px) {
    .full-height{
    	height: 100%;
    }
}

@media only screen and (max-width: 780px){
	.section, .section2{
		margin-top: 10px;
	}

	.detail-tile{
		margin-bottom: 10px;
	}
}